<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameOfLife-OpenGL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MTLGameOfLife.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SKGameOfLife.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>gol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50CF37DE1B74DB8C008C8B46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C041B3E1B74BC18004F7DCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C041B511B74BC18004F7DCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C041B5C1B74BC18004F7DCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C3F68851B74BD2800D80E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CA6600A1B74C44E00FA55D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
